
.category {

}

.products {
    list-style: none;
    margin: -20px;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.products__item {
    padding: 20px;
    width: 33.333%;
}