.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px;
    padding: 0 0 30px;
}

.header__logo,
.header__nav,
.header__minicart {
    padding: 10px;
}

.header__logo {
    width: 200px;
}