.minicart {
    position: relative;
}

.minicart__trigger {
    position: relative;
    display: block;
    background: none;
    padding: 0 0 0 40px;
    border: none;
    text-align: left;
}

.minicart__icon {
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
}

.minicart__count {
    display: block;
    margin: 0 0 5px;
}

.minicart__dropdown {
    position: absolute;
    width: 300px;
    right: 0;
    top: 100%;
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px;
}
